* {
  margin: 0;
}

.loginMainContainer {
  font-family: Roboto;
  background-color: #000000;
  height: 100vh;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loginFormContainer {
  width: 50%;
  padding: 2rem;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.logoImg {
  align-self: center;
  width: 40%;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.label {
  color: #f8fafc;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}
.input {
  padding: 0.6rem;
  border: 0.1rem solid #6366f1;
  border-radius: 0.4rem;
  background-color: transparent;
  outline: none;
  color: white;
}
.submitBtn {
  margin-top: 2rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #6366f1;
  color: white;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}
.errorMsgPara {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  color: red;
  font-size: 1rem;
}
.loadingIcon {
  font-size: 1.2rem;
  font-weight: bold;
}
